{% extends 'base.html.twig' %}

{% block title %}{{animal.prenom}}{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/showAnimal.css') }}">

<style>
    body{
        background-image: url( {{asset('images/parc/jungle_bg_.jpg')}} );
    }

</style>
<div class="page-container">
    {# navigation desktop #}
    <div class="navbar mt-5 animal-navbar d-none d-lg-block">
            <H2><a class="nav-item d-none d-lg-block ml-3" href="{{ path('app_habitat_index') }}">Voir les Habitats</a><H2>
            <H2 class="nav-item d-none d-lg-block infoBtn text-white" role="button" aria-label="Informations animal"> Information sur l'animal</H2>
            <H2 class="nav-item d-none d-lg-block imageBtn text-white" role="button" aria-label="Gallerie photos">Gallerie photo</H2>
    </div>
    {# navigation mobile #}
    <div class="navbar animal-navbar mt-5 mb-2 d-flex justify-content-around d-lg-none">
        <H2><a class="nav-item d-lg-none" href="{{ path('app_habitat_index') }}"><i class="fa-solid fa-arrow-left"></i></a></H2>
        <H2><a class="nav-item d-lg-none infoBtn" role="button" aria-label="Informations animal"><i class="fa-regular fa-clipboard"></i></a></H2>
        <H2><a class="nav-item d-lg-none imageBtn" role="button" aria-label="Gallerie photos"><i class="fa-regular fa-image"></i></a></H2>
    </div>


    <div class="animal-presentation container" id="infoContainer">
        <div class="row">            
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                <img src="{{asset('images/animal/'~ animal.imageName)}}" alt="animal" class="animal-image">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 card card-animal mb-5">
                <div class="card-header text-center">
                    <h1 class="card-title">{{animal.prenom}}</h1>
                </div>
                <div class="card-body">
                <input type="hidden" id="animalId" value="{{animal.id}}">
                <p>Race : {{animal.race}}</p>
                <p>Date d'arrivée : {{animal.createdAt | date('d/m/Y')}}</p>
                {% if animal.habitat is not null %}
                <p>Habitat : {{animal.habitat.nom}}</p>
                {% endif %}
                </div>
                <div class="card-footer text-center">
                    <h2>Notes vétérinaires :</h2>
                    {% if infoAnimal == null %}
                    <p>Pas de note pour le moment</p>
                    {% else %}
                        {% for infoAnimal in infoAnimal %}
                                <h3>{{ infoAnimal.createdAt | date('d-m-Y') }}</h3>
                                <p class="card-text">Etat de l'animal : {{ infoAnimal.etat }}</p>
                                {% if infoAnimal.details != null %}
                                    <p class="card-text">Détails : {{ infoAnimal.details }}</p>
                                {% endif %}
                                <p class="card-text">Nourriture : {{ infoAnimal.nourriture.nom }}</p>
                                <p class="card-text">Quantité recommandé : {{ infoAnimal.grammage }}g</p>
                            
                        {% endfor %}
                    {% endif %}
                </div>         
            </div>
        </div>
    </div>

    <div  class="container" id="gallerie-container">
        <div class="row" id="gallerie">
            
        </div>
    </div>

</div>





<script src="{{ asset('js/publicShowAnimal.js') }}"></script>
{% endblock %}

{% block javascripts %}
{% endblock %}