{% extends 'base.html.twig' %}

{% block title %}{{animal.prenom}}{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/showAnimal.css') }}">
<style>
    body{
        background-image: url( {{asset('images/parc/jungle_bg_.jpg')}} );
    }
</style>
<div class="page-container">
    <div class="nav navbar mt-5 animal-navbar">
            <a class="navbar-brand mx-3" href="{{ path('app_habitat_index') }}">Voir les Habitats</a>  
    </div>
    <div class="animal-presentation container">
        <div class="row">            
            <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                <img src="{{asset('images/animal/'~ animal.imageName)}}" alt="animal" class="animal-image">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 card card-animal mb-5">
                <div class="card-header text-center">
                    <h1 class="card-title">{{animal.prenom}}</h1>
                </div>
                <div class="card-body">
                <input type="hidden" id="animalId" value="{{animal.id}}">
                <p>Race : {{animal.race}}</p>
                <p>Date d'arrivée : {{animal.createdAt | date('d/m/Y')}}</p>
                <p>Habitat: {{animal.habitat.nom}}</p>
                </div>
                <div class="card-footer text-center">
                    <h2>Notes vétérinaires:</h2>
                    {% if infoAnimal == null %}
                    <p>Pas de note pour le moment</p>
                    {% else %}
                        {% for infoAnimal in infoAnimal %}
                                <h3>{{ infoAnimal.createdAt | date('d-m-Y') }}</h3>
                                <p class="card-text">Etat de l'animal: {{ infoAnimal.etat }}</p>
                                {% if infoAnimal.details != null %}
                                    <p class="card-text">Détails: {{ infoAnimal.details }}</p>
                                {% endif %}
                                <p class="card-text">Nourriture: {{ infoAnimal.nourriture.nom }}</p>
                                <p class="card-text">Quantité recommandé: {{ infoAnimal.grammage }}g</p>
                            
                        {% endfor %}
                    {% endif %}
                </div>         
            </div>
        </div>
    </div>
</div>

<script src="{{asset('js/countVisits.js')}}"></script>
{% endblock %}