{% extends 'base.html.twig' %}

{% block title %}Arcadia admin{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
<div class="container-fluid mt-5 mb-5 bg-dark-box ">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5 mb-3">
            <H2 class="text-white"> Renseigner un nouvel habitat:</H2>
            <div class="card">
                <div class="card-body">
                {{ form_start(form, {'action':('/admin/habitats/create')}) }}
                {{ form_errors(form)}}
                <div class="mb-3">
                    {{ form_row(form.nom, {'label': 'Nom'}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.description, {'label': 'Description'}) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.imageFile, {'label': 'Image'}) }}
                </div>
                
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
</div>
<div class="container-fluid mt-5 white-container">
    <h2 class="text-center">Liste des habitats</h2>
    <div class="row">
        {% for habitat in habitats %}  
            <div class="col-md-3 mt-3">
                <div class="card mb-3 card-habitat">
                    <div class="card-body">
                        <h5 class="card-title">{{ habitat.nom }}</h5>
                        <img src="{{ asset('images/habitat/' ~ habitat.ImageName) }}" alt="image_{{ habitat.getNom }}" style="max-width: 100%;" >
                        <div class="d-flex justify-content-between">
                            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" data-habitat-id ="{{habitat.id}}" class="btn btn-light"><i class="fa-solid fa-trash"></i></button>
                            <button type="button" class="btn btn-outline"><i class="fa-regular fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#deleteModal"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Suppression d'un habitat</h5>
                    <button id = "delete" type="button" class="btn-close btn btn-danger" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-x"></i></button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet habitat?</p>
                    <p class="d-none" id="habitatId"></p>
                    
                </div>
                <div class="d-flex justify-content-around p-3">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button id="btnConfirmDelete" type="button" class="btn btn-danger" data-bs-dismiss="modal">Supprimer</button>
            </div>
        </div>
    </div>

    
    

</div>









<script src="{{asset('js/habitat.js')}}"></script>
<script src="{{asset('js/sanitizer.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script> 

{% endblock %}
