{% extends 'base.html.twig' %}

{% block title %}Compte rendu vétérinaire N ° {{infoAnimal.id}}{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/admin-dashboard.css') }}">
<style>
    body {
        background-color: #f8f9fa;
    }
    h1 {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }
</style>

<nav class="nav navbar bg-dark mt-5">
    <a class="nav-item" href="/admin/dashboard">Espace administrateur</a>
</nav>

<div class="container">
    <div class="custom-container mt-2" style="height:80vh">
        <div class="container-header">
            <h1>Compte rendu vétérinaire N ° {{infoAnimal.id}}</h1>
        </div>
        <div class="container-body justify-content-center">
            <p> Le {{infoAnimal.createdAt|date('d-m-Y')}} </p></br>
            <p> Animal: {{ infoAnimal.animal.prenom }}</p>
            <p>Habitat:{{infoAnimal.animal.habitat.nom}}</p><br>
            <p>Etat:{{infoAnimal.etat}} </p>
            <p>Details: 
            {% if infoAnimal.details != null %}
                {{infoAnimal.details}}</p><br>
            {% else %}
                Le vétérinaire n'a pas laissé de détails.</p><br>
            {% endif %}
            <p>Nourriture :  {{infoAnimal.nourriture.nom}}</p>
            <p>Quantité: {{infoAnimal.grammage}}</p><br>    
        </div>
    </div>
</div>

{% endblock %}