{% extends 'base.html.twig' %}
{% block title %}Edition d'un habitat{% endblock %}

{% block body %}

<link rel="stylesheet" href="{{asset('css/admin.css')}}"/>
<div class="container-fluid mt-5 mb-5 bg-dark-box ">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5 mb-3">
            <H2 class="text-white"> Modifier un habitat </H2>
            <div class="card text-center">
                <div class="card-body">
                {{ form_start(Form, {'action': path('app_admin_updateHabitat', {'id':habitat.id}), 'method':'POST'}) }}
                {{ form_errors(Form)}}
                <div class="mb-3">
                    {{ form_label(Form.nom) }}<br>
                    {{ form_widget(Form.nom) }}
                </div>
                <hr>
                <div class="mb-3">
                    {{ form_label(Form.description) }}</br>
                    {{ form_widget(Form.description) }}
                </div>
                <hr>
                <div class="mb-3">
                    {{ form_row(Form.imageFile, {'label': 'Image'}) }}
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary mb-1">Modifier</button>
                    <!--<button type="button" class="btn btn-secondary mb-1" onclick=" window.location='/admin/habitats' " > Annuler</button> -->
                </div>
                {{ form_end(Form) }}
            </div>
        </div>
    </div>
</div>


{% endblock %}

