{% extends 'base.html.twig' %}

{% block title %}Nos services{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{asset('css/services.css')}}">

<div class="container service-list mt-5">
    <h1 class="mb-3 text-dark w-100 primary text-white px-0 text-center"> Les services proposés au zoo:</h1>
    <div class="row">
        {% for service in services %}
            {% if loop.index is even %}
                <div class="col-md-6 col-sm-12 service-image">
                    <image src="{{asset('images/service/' ~ service.imageName)}}" alt="{{service.nom}}" class="img-fluid service-image">
                </div>
                <div class="col-md-6 col-sm-12 service-text">
                    <h2>{{service.nom}}</h2>
                    <p>{{service.description}}</p>
                </div>
            {% else %}
                <div class="col-md-6 col-sm-12 service-text">
                    <h2>{{service.nom}}</h2>
                    <p>{{service.description}}</p>
                </div>
                <div class="col-md-6 col-sm-12 service-image">
                    <image src="{{asset('images/service/' ~ service.imageName)}}" alt="{{service.nom}}" class="img-fluid service-image">
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>





{% endblock %}



