<section aria-label="Formulaire publication d'un avis">
  <div class="dark d-flex justify-content-center" aria-label="formulaire pour poster un avis">
    <div >
      {{ form_start(avisForm,{'action': path('app_avis_create'), 'method':'POST'}) }}
        <h1 class="text-center">Donner son avis</h1>
          {{ form_label(avisForm.zoo, 'Choisissez un zoo:', {'label_attr': {'class': 'form-label'}}) }}
          {{ form_widget(avisForm.zoo, {'attr': {'class': 'form-control', 'required': true, 'aria-required': 'true'}}) }}
        <div class="mb-3">
            {{ form_label(avisForm.pseudo, 'Entrez un nom ou un pseudo:', {'label_attr': {'class': 'form-label pseudoInput'}}) }}
            {{ form_widget(avisForm.pseudo, {'attr': {'class': 'pseudoInput form-control', 'placeholder': 'Pseudo', 'required': true, 'aria-required': 'true', 'aria-describedby': 'pseudoHelp'}}) }}
            <div id="pseudoHelp" class="pseudo-error-msg text-danger" aria-live="polite"></div>
        </div>
        <div class="mb-3 slider">
            {{ form_label(avisForm.note, 'Notez le parc:', {'label_attr': {'class': 'form-label'}}) }}
            <div class="stars-container">
                <div class="stars d-flex justify-content-around"> 
                    {% for i in 1..5 %}
                        <i class="fa fa-star star" tabindex="0" role="button" aria-label="Note {{i}} étoiles" data-value={{i}}></i>
                    {% endfor %}
                </div>
                {{ form_widget(avisForm.note, {'attr': {'class': 'form-control starRating', 'placeholder': 'Note', 'required': true, 'aria-required': 'true'}}) }}
            </div>
        </div>
        <div class="mb-3">
            <div class="d-flex justify-content-between">
              <label for="avis_Avis_content" class="form-label required">Votre commentaire:</label>
              <span id="avisLen" class="text-muted" aria-live="polite">0/255</span>
            </div>
            {{ form_widget(avisForm.Avis_content, {'attr': {'class': 'form-control avisInput', 'placeholder': 'Avis', 'rows': 5, 'aria-describedby': 'commentaireHelp'}}) }}
            <div id="commentaireHelp" class="commentaire-error-msg text-danger" aria-live="polite"></div>
        </div>
        <div class="mb-3 form-check mx-3">
            <input type="checkbox" class="form-check-input" id="rgpd" required aria-required="true" aria-describedby="rgpdHelp">
            <label class="form-check-label" for="rgpd">En cochant cette case, j'accepte que mon avis et mon pseudo soit visible sur le site.</label><br>
            <a href="{{ path('app_legal_pdd') }}" class="text-muted">Politique de protection des données personelles</a>
        </div>
        <div class="mb-5 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btnSendReview disabled w-100" aria-disabled="true">Submit</button>
        </div>
      {{ form_end(avisForm) }}
    </div>
  </div>
</section>