{% extends 'base.html.twig' %}

{% block title %}Hello AcceuilController!{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block body %}
<link rel="stylesheet" href="{{asset('css/acceuil.css')}}">
<link rel="stylesheet" href="{{asset('css/acceuil_text-wrapper.css')}}"


<div class="body-container">
    <div class="box-big">
        <div class="BIG">
          <div class="big-overlap-group">
            <img class="big" src="{{asset('images/parc/big.png')}}" />
              <div class="big-text-wrapper">
                <p class="text">Arcadia vous acceuille du lundi au dimanche, de 10:00 à 17:00</p>
              </div>
          </div>
        </div>
      </div>
    <div class="box-left-image">
        <div class="overlap-group">
          <div class="row">
            <div class="col-2">
            <img class="image image-left" src="{{ asset('images/parc/entrance-1.jpeg') }}" alt="Entrance Image" />
            </div>
            <div class="col-2">
            <div class="left-text-wrapper">
                <p class="text">
                    Bienvenue à Arcadia, votre destination enchantée au cœur de la forêt de Brocéliande en Bretagne depuis
                    1960 !<br />
                    <p class="d-none d-lg-block ">Découvrez la magie de la nature dans notre zoo, où une variété d'animaux fascinants
                    vous attend dans des habitats soigneusement conçus tels que la savane, la jungle et les marais. Chez
                    Arcadia, le bien-être de nos pensionnaires est notre priorité absolue. Chaque jour, notre équipe de
                    vétérinaires dévoués effectue des contrôles approfondis pour garantir la santé et le bonheur de chaque
                    animal.
                    </p>
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="box-right-image">
      <div class="overlap-group">
        <div class="row">
            <div class="col right-text-wrapper">
              <p class="text">
                Nous sommes fiers de maintenir des normes élevées en matière de soins animaliers, 
                en veillant à ce que chaque créature soit choyée et nourrie avec précision. 
              </p>
              <p class="d-none d-lg-block">
                Les repas sont soigneusement dosés, avec chaque détail spécifié dans le rapport du vétérinaire pour assurer une nutrition optimale.
                Nous acceuillons de nombreux animaux, tels que les célèbres 'Alex' le lion, 'Melman' la girafe, 'Gloria' l'hippopotame, 
                ainsi que 'Marty' le zèbre.
              </p>
            </div>
            <div class="col">
                <image class="image image-right" src="{{asset('images/parc/animaux.png')}}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-left-image">
      <div class="overlap-group">
        <image class="image double-image double-image-left" src="{{asset('images/parc/savanne.jpeg')}}" />
        <image class="image double-image double-image-right"src="{{asset('images/parc/foret.jpeg')}}"/>
      </div>
    </div>
    <div class="box-right-image" style="height: 52px;">
      <div class="overlap-group">
        <div class="center-text-container">
        <p class="text mx-auto center-text-p">Les différents habitats des animaux présents au zoo</p>
        <p class="d-none d-lg-block">Ils simulent les habitats naturels des habitats présents au zoo, que ce soit la savanne, la jungle, la forêt ou la montagne</p>
        </div>
      </div>
    </div>
    <div class="box-left-image">
      <div class="overlap-group">
        <image class="image double-image double-image-left" src="{{asset('images/parc/jungle.jpeg')}}"/>
        <image class="image double-image double-image-right"src="{{asset('images/parc/montagne.jpeg')}}"/>
      </div>
    </div>
    <div class="box-right-image" style="height: 135px">
      <div class="overlap-group">
        <div class="center-text-wrapper">
          <p class="text" style="color:var(--secondary)">
            Découvrez les services proposés par le Zoo Arcadia ! </br>
            Restauration, visite guidée des habitats, tour en petit train et bien plus encore.
          </p>
          <a class="btn btn-secondary" href="/services">Je découvre les services</a>
        </div>
      </div>
    </div>
    <div class="box-left-image">
      
      <div class="overlap-group justify-content-center">       
          
        <div class="carouselAvis" class="carousel slide carousel-fade" data-bs-ride="carousel">
            
          <div class="carousel-inner">  
              {% for avis in avis %}
                <div class=" mt-3 carousel-item  {% if loop.first %} active {% endif %}">                   
                  <div class="card avis-card">
                    <div class="card-header d-flex justify-content-between">
                      <div class="card-title-text">                     
                        <p class="px-3"> {{avis.pseudo}}</p>
                      </div>
                      <div class="card-title-icon">
                      <button class="button" id="maximizeBtn" onclick="window.location=('/avis/show/'+{{ avis.id }} )"><i class="fa-regular fa-window-maximize"></i></button>
                      </div>
                    </div>
                    <div class="card-body text-center">
                      {% for star in range(1, 5) %}
                        {% if star <= avis.note %}
                        <i class="fa-solid fa-star"></i>
                        {% else %}
                        <i class="fa-regular fa-star"></i>
                        {% endif %}          
                      {% endfor %}
                      <p class="card-text">{{avis.getavisContent}}</p>
                      <p class="card-text"><small>{{ avis.getCreatedAt|date('d/m/Y') }}</small></p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>      
        </div>
      </div>
    </div>



</div>
{% endblock %}
