<section>
  <div class="white d-flex justify-content-center">
    <h2 class="text-dark">Horaires</h2>
  </div>
  <div class="darker d-flex justify-content-center">
    <div class="table-responsive">
      <table class="table table-striped">
        {% if horaires is empty %}
        <p>Les horaires ne sont pas encore disponibles</p>
        {% else %}
        {% for horaire in horaires %}
          <tr>
            <td>{{ horaire.jour }}</td>
            {% if horaire.isOuvert %}
            <td>{{ horaire.HOuverture|date ('H:i')  }}</td>
            <td>{{ horaire.HFermeture|date ('H:i') }}</td>
            {% else %}
            <td>Fermé</td>
            <td>Fermé</td>
            {% endif %}
          </tr>
          {% endfor %}
        {% endif %}
      </table>
    </div>
  </div>
</section>

<section>
  <div class="darker text-center  mb-4">
    <a href="{{ path('app_legal_mentions_legales') }}" class="text-white my-1">Mentions légales</a></br>
    <a href="{{ path('app_legal_pdd') }}" class="text-white my-1">Politique de données personnelles</a>
    <H2> Contactez-nous</H2>
  </div>
</section>