{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('css/employe.css') }}">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="mt-5">
                    <li class="mt-2 mb-3">
                        <H5 class="nav-item"><i class="fa-solid fa-user-tie"></i>Espace Employé </H5>
                    </li>
                    <li class="my-2 mt-2">
                        <p role="button" id="avisBtn" class="sidebar-item"><i class="fa-regular fa-comment"></i> Avis</p>
                    </li>
                    <li class="my-2">
                        <p role="button" id="servicesBtn"class="sidebar-item"><i class="fa-solid fa-shop"     ></i> Services</p>
                    </li>
                    <li class="my-2">
                        <p role="button" id="foodBtn" class="sidebar-item"><i class="fa-solid fa-drumstick-bite"></i>Repas des animaux</p>
                    </li>
                    <li class="my-2">
                        <p role="button" id="contactBtn" class="sidebar-item"><i class="fa-solid fa-envelope"></i> Contact</p>
                    </li>
                    <li class="mt-2 mb-3">
                        <a class="nav-item btn btn-danger" href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Se déconnecter</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
        
        <div class="col py-3">
            {# error & success messages #}
            <div class="alerts">
                {% for flashMessage in app.flashes('error') %}
                    <div class="alert alert-danger mt-5" role="alert" style="height:10vh">
                        {{ flashMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
                {% for flashMessage in app.flashes('success') %}
                    <div class="alert alert-success mt-5" role="alert" style="height:10vh">
                        {{ flashMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>

            {# avis container #}
            <div class="custom-container mt-5 d-none" id="avisContainer">
                <div class="row">
                    <h1 class="text-center">Avis en attente de validation:</h1>
                    <div class="col-12 avis-scroll-container" style="max-height: 400px; overflow-y: auto;">
                        <div id="avisList">
                            {% for singleAvis in avisList %}
                                {% if singleAvis.isValidation == false %}
                                    <form id="validateAvisForm">
                                        <input type="hidden" name="id" value="{{ singleAvis.id }}">
                                        <div class="card mx-5" id="{{ singleAvis.id }}">

                                            <div class="stars card-title card-header">
                                                {% for star in range(1, 5) %}
                                                    {% if star <= singleAvis.note %}
                                                        <i class="fa-solid fa-star"></i>
                                                    {% else %}
                                                        <i class="fa-regular fa-star"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="card-body">
                                                <p class="card-text">{{ singleAvis.getAvisContent }}</p>
                                                <p class="card-text"><small class="text-muted">Posté par {{ singleAvis.pseudo }} le {{ singleAvis.getCreatedAt|date('d/m/Y') }}</small></p>
                                            </div>
                                            <div class="card-footer d-flex justify-content-around">
                                                <button id='BtnValider' type="button" class="btn btn-primary BtnValider">Valider</button>
                                                <button id='BtnSupprimer'type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger delete-btn">Supprimer</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Confirmer la Suppression</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="DelAvisForm">
                                                        <input type="hidden" name="id" value="{{singleAvis.id}}">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                        <button type="button" class="btn btn-danger BtnSupprimer" id="deleteAvis">Supprimer</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            {# services container #}
            <div class=" custom-container mt-5 d-none" id="servicesContainer">
                <div class="container-header">
                    <div class="container-title">
                        <H5>Services</H5>
                    </div>
                </div>
                <div class="container-body mt-3">
                    <table class="table table-striped" aria-labelledby="services">
                        <thead> 
                            <th>Service</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            {% for service in services %}
                                <tr>
                                    <td>{{ service.getNom }}</td>
                                    <td>
                                        <button type="button" class="btn btn-info" onclick="window.location=('/services/show/'+{{ service.id }})"><i class="fa-regular fa-eye"></i></button>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editServiceModal" data-service-id="{{ service.id }}">Modifier</button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteServiceModal" data-service-id="{{ service.id }}">Supprimer</button>
                                    </td>
                                </tr>
                            {% endfor %}
                    </table>
                    <div class="modal fade" id="editServiceModal" tabindex="-1" aria-labelledby="editServiceModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editServiceModalLabel">Modifier</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="editServiceForm">
                                    <label for="nom">Nom</label>
                                    <input type="text" id="nom" name="nom" class="form-control">
                                    <label for="description">Description</label>
                                    <textarea id="description" name="description" class="form-control"></textarea>
                                    <input type="hidden" id="serviceId" name="serviceId">
                                    <button type="button" class="btn btn-primary mt-2 mb-2" id="btnConfirmEditService">Modifier</button>
                                    <button type="button" class="btn btn-secondary mt-2 mb-2" data-bs-dismiss="modal">Annuler</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            
            {# food container #}
            <div class=" mt-5 d-none" id="foodContainer">
                <div class="container-header">
                    <div class="container-title">
                        <H5>Repas des animaux</H5>
                    </div>
                </div>
                <div class="container-body mt-3">
                    {{form_start(form, {'action': path('app_employe_createRepas'), 'method': 'POST'})}}
                    {{form_errors(form)}}
                    <div class="mb-3">
                        {{form_label(form.animal, 'Animal')}}
                        {{form_widget(form.animal, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        {{form_label(form.datetime, 'Date')}}
                        {{form_widget(form.datetime, {'attr': {'class': 'form-control'}})}}
                    </div>
                    <div class="mb-3">
                        {{form_label(form.quantite, 'Quantité')}}
                        {{form_widget(form.quantite, {'attr': {'class': 'form-control'}})}}
                    </div>             
                    <button type="submit" class="btn btn-primary">Valider</button>       
                    {{form_end(form)}}
                </div>           
            </div>    
            
            {# Contact container #}
            <div class="mt-5 d-none" id="contactContainer">
                <div class="custom-container">
                    <div class="container-header">
                        <div class="container-title">
                            <H5>Demandes de contact</H5>
                        </div>
                    </div>
                    <div class="toolbar d-flex justify-content-around">
                        <div class="col">
                            <label for="réponseSelect">Filtrer par statut</label>
                            <select id="demandeStatusSelect" class="form-select">
                                <option value="*">Toutes les demandes</option>
                                <option value="1">Non Traitées</option>
                                <option value="0">Traitées</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="dateInput">Filtrer par date:</label>
                            <input type="date" id="demande-date-select" class="form-control" placeholder="Date">
                        </div>              
                    </div>
                    <div class="container-body mt-3 scrollable-container">
                        <div class="row">
                            {% if demandes|length == 0 %}
                                <p>Aucune demande de contact actuellement</p>
                            {% else %}
                                {% for demande in demandes %}
                                    <div class="col-12 px-2">
                                        <div class="card demande-card mb-5 " data-demande-status="{{ demande.answered }}" data-demande-date="{{ demande.createdAt|date('Y-m-d') }}">
                                            <div class="card-header d-flex justify-content-between">
                                                <h5 class="card-title">{{ demande.getTitre }}</h5>
                                                <p class="text-muted">{{ demande.createdAt|date('d/m/Y') }}</p>
                                            </div>
                                            <div class="card-body">  
                                                <p class="text-muted">{{ demande.mail }}</p>                             
                                                <p class="card-text">{{ demande.getMessage }}</p>
                                                {% if demande.answered == false %}
                                                    <p class="text-muted">Non traitée</p>
                                                {% else %}
                                                    <p class="text-muted">Traitée le {{ demande.getAnsweredAt|date('Y-m-d') }}</p>
                                                {% endif %}
                                            </div>
                                            <div class="card-footer mb-5">
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#repondreModal" data-demande-id="{{ demande.id }}">Répondre</button>
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDemandeModal" data-demande-id="{{demande.id}}">Supprimer</button>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>   
                    </div>
                </div>
                {# modal repondre #}
                <div class="modal fade" tabindex="-1" id="repondreModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Répondre</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="repondreForm">
                                    <label for="reponse">Réponse</label>
                                    <textarea id="reponse" name="reponse" class="form-control"></textarea>
                                    <input type="hidden" id="demandeId" name="demandeId">
                                    
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary mt-2 mb-2" id="btnConfirmRepondre">Envoyer</button>
                                <button type="button" class="btn btn-secondary mt-2 mb-2" data-bs-dismiss="modal">Annuler</button>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







<script src="{{ asset('js/employe.js') }}"></script>
<script src="{{ asset('js/filtre_DDC.js') }}"></script>

{% endblock %}
