{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

<div class="container avis-list-container mt-5">
    <div class="row">
        <h1 class="text-center">Avis en attente de validation:</h1>
        <div class="col-12 avis-scroll-container" style="max-height: 400px; overflow-y: auto;">
            <div id="avisList">
                {% for singleAvis in avisList %}
                    {% if singleAvis.isValidation == false %}
                        <form id="validateAvisForm">
                            <input type="hidden" name="id" value="{{ singleAvis.id }}">
                            <div class="card" id="{{ singleAvis.id }}">
                                <div class="stars card-title">
                                    {% for star in range(1, 5) %}
                                        {% if star <= singleAvis.note %}
                                            <i class="fa-solid fa-star"></i>
                                        {% else %}
                                            <i class="fa-regular fa-star"></i>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <div class="card-body">
                                    <p class="card-text">{{ singleAvis.getAvisContent }}</p>
                                    <p class="card-text"><small class="text-muted">Posté par {{ singleAvis.pseudo }} le {{ singleAvis.getCreatedAt|date('d/m/Y') }}</small></p>
                                    <button id='BtnValider' type="button" class="btn btn-primary valid-btn">Valider</button>
                                    <button id='BtnSupprimer'type="button" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-danger delete-btn">Supprimer</button>
                                </div>
                            </div>
                        </form>
                        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Confirmer la Suppression</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="DelAvisForm">
                                            <input type="hidden" name="id" value="{{singleAvis.id}}">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-danger" id="deleteAvis">Supprimer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>






<script src="{{ asset('js/employe.js') }}"></script>

{% endblock %}
